<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload DIR to S3</title>
    </head>
    <body>
        <h1>Upload dir to S3</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="files[]" multiple webkitdirectory directory
                required>
            <button type="submit">Upload</button>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </body>
</html>
